.home{
  height: 100vh;
}

.home h1{
  color: #D4AF37;
  text-align: center;
  font-size: 7vw;
  font-weight: lighter;
  font-family: 'Imperial Script', cursive;
}

.home p{
  font-size: 2vw;
  width: 60%;
  margin: auto;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}

.home i{
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.container{
  position: relative;
  width: 60%;
  margin: 40px auto 40px auto;
  padding: 40px 0 40px 0;
  text-align: center;
  border-style: solid;
  border-color: #D4AF37;
  border-width: medium;
  font-family: 'Cormorant Garamond', serif;
}

.number{
  position: absolute;
  left: 20px;
  top: 0px;
}

.container:hover{
  color: #D4AF37;
  transition: 0.5s;
}

.love{
  color: #D4AF37;
  text-align: center;
  font-weight: lighter;
  font-family: 'Imperial Script', cursive;
  font-size: 4vw;
}

.love-img{
  display: block;
  margin: auto;
  width: 60%;
}
